@import './colors.scss';

header {

  padding: 0.5em;
  border-bottom: 1px solid black;
  background-color: rgba(55, 71, 133, 0.8);
  // opacity

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .author-name {
    padding-left: 2rem;
    font-size: 3rem;
    color: #a8d0e6;
    font-family: 'Playtime';
  }

  .author-description {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
    color: #a8d0e6;
    font-family: 'Gloria Hallelujah', cursive;
  }

  .site-menu ul {
    display: flex;
    margin: -0.5rem;
    padding-right: 1rem;
    color: #a8d0e6;
    font-family: 'Gloria Hallelujah', cursive;

    li {
      margin: 1rem;
      list-style: none;
      font-size: 1rem;

      a {
        border: none;
        text-decoration: none;
        color: inherit;
      }

    }

  }

}