@import "resets/resets";
@import "header";

body {
  background: linear-gradient(to bottom, $light-blue, $medium-blue);
  min-height: 100vh;
}

.container {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-wrap: wrap;

}

.project {
  // width: 30%;
  flex: 0 0 30%;
  margin-right: 2%;
}


.card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: rgb(240, 240, 240);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }

  p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }

  p {
    inset: auto auto 80px 30px;
  }

  &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
  }

  &:hover p {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }

  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
  }

}