@import "resets/resets";
@import "header";

body {
  background: linear-gradient(to bottom, $light-blue, $medium-blue);
  min-height: 100vh;
}

.container {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-wrap: wrap;

}

.project {
  // width: 30%;
  flex: 0 0 30%;
  margin-right: 2%;
}

.card {
  width: 24rem;
  height: 24rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: rgb(240, 240, 240);
  box-shadow: inset 25px 0px 0px $polaroid-card,
              inset -25px 0px 0px $polaroid-card,
              inset 0 25px 0px $polaroid-card,
              inset 0 -75px 0px $polaroid-card,
              10px 10px 5px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  margin-left: 2rem;

  img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
    z-index: -1; /* Push the image below the border */
    border-radius: 10px; /* Match the card's border radius */
  }

  h2 {
    position: absolute;
    inset: auto auto 25px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Cutive';
    font-weight: normal;
    color: $polaroid-text;
    font-size: 1.5rem;
  }

  p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
    inset: auto auto 10px 40px;
    color: $polaroid-text;
    font-family: 'Cutive';
    font-size: 0.75rem;
  }

  &:hover h2 {
    inset: auto auto 45px 30px;
    font-size: 1.0rem;
    transition: inset .3s ease-out;
  }

  &:hover p {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }

  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
  }
}
