#gameContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #111;
}

/* ------------------ */
/* BOARD */
/* ------------------ */

#board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);

  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 6px;
}

.cell {
  width: 50px;
  height: 50px;
  background: #2a2a2a;
  border-radius: 6px;
}

/* ------------------ */
/* PIECE */
/* ------------------ */

#pieceTray {
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
}

.piece {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 40px);
  gap: 4px;

  cursor: grab;
  will-change: transform;
}

.piece:active {
  cursor: grabbing;
}

.block {
  width: 40px;
  height: 40px;
  background: #f58f7c;
  border-radius: 6px;
}
