{{ define "main" }}
{{ partial "header/site-nav" . }}

{{ .Title }}
{{ .Description }}

<div class="container">
    {{ range .Pages }}
    <a href="{{ .Permalink }}">
    <div class="card">
            {{ $asset:= resources.Get .Params.Image }}
            <img src={{$asset.RelPermalink}} alt="">
            <div class="card-content">
                <h2>{{ .Title }}</h2>
                <p>{{ .Description }}</p>
            </div>
            </img>
        </div>
    </a>

    {{ end }}
</div>

{{ end }}