{{ define "main" }}
{{ partial "header/site-nav" . }}

{{ .Title }}
{{ .Description }}

<div class="container">
    {{ range .Pages }}
    <div class="card">
        <a href="{{ .Permalink }}">
            {{ $asset:= resources.Get .Params.Image }}
            <img src={{$asset.RelPermalink}} alt="">
            <div class="card-content">
                <h2>{{ .Title }}</h2>
                <p>{{ .Description }}</p>
            </div>
            </img>
        </a>
    </div>

    {{ end }}
</div>

{{ end }}