{{ define "main" }}
{{ partial "header/site-nav" . }}
{{ .Title }}
<div class="container">
    {{ range .Pages }}
    <div class="card">
        <a href="{{ .Permalink }}">
            {{ $asset:= resources.Get .Params.Image }}
            <img src={{$asset.RelPermalink}} alt="">
            <div class="card-content">
                <h2>{{ .Title }}</h2>
                <p> words wrods balch blah </p>
            </div>
            </img>
        </a>
    </div>

    {{ end }}
</div>

{{ end }}