{{ define "main" }}
<main role="main">
  <div class="cover cover-landing">
    {{ partial "header/site-nav" . }}
    <div class="max-width:measure*ratio center landing">
      {{.Content}}
    </div>
  </div>
  <div class="max-width:measure*ratio center with-sidebar">
    <div>
      <div class="image image1:1 personal"> </div>
      <div class="enforce-width">
        <p class="text">{{.Params.First | markdownify}}</p>
        <p class="text">{{.Params.Second}}</p>
        <p class="text">{{.Params.Third}}</p>
      </div>
    </div>
  </div>
</main>
{{ end }}