
<header>
  <div class="nav-container">
    <div class="author-info">
      <div class="author-name">{{.Site.Params.Author}}</div>
      <div class="author-description">{{.Site.Params.AuthorDescription}}</div>
    </div>
    <nav class="site-menu">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="{{if ($currentPage.IsMenuCurrent "main" .)}}current-page{{end}}">
          {{if ($currentPage.IsMenuCurrent "main" .)}}
            <span>{{ .Name }}</span>
          {{else}}
            <a href="{{ .URL }}">{{ .Name }}</a>
          {{end}}
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
